html,
body {
  background-color: #1D2528;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Skyfont";
  src: url("/assets/webfonts/Skyfont.otf");
}

@font-face {
  font-family: "LED_Board";
  src: url("/assets/webfonts/LED_Board.ttf");
}

@font-face {
  font-family: "minisystem";
  src: url("/assets/webfonts/minisystem.ttf");
}

/* FLIGHT CARDS */

.card.card-flights {
  border: 5px solid #41525b;
  background-color: #37484f;
}

.card.card-flights .card-header {
  background-color: #ffcf22;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.card.card-flights .card-header .icon {
  background-color: #FFF;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 2px solid #1D2528;
  border-radius: 5px;
}

.card.card-flights .card-body {
  padding: 10px 5px;
}

.card.card-flights table.flight-list {
  margin: 0;
}

.card.card-flights table.flight-list th,
.card.card-flights table.flight-list td {
  color: #fff;
}

.card.card-flights table.flight-list tr.flight-row {
  font-family: "minisystem", sans-serif;
}

.card.card-flights table.flight-list tr.flight-row.header td {
  font-size: 20px;
  color: #fff;
  border: 0;
}

.card.card-flights table.flight-list tr.flight-row td {
  color: #50f8d7;
  font-size: 25px;
  padding: 0;
}

